docs/skilled-awareness/chora-compose-integration/n8n-examples/workflow-3-batch-docs.json
{
  "name": "Batch Documentation Generation (Collection)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chora-compose/generate-all-docs",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Manual Trigger or Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "chora-compose-batch-docs"
    },
    {
      "parameters": {
        "jsCode": "// Configuration for batch documentation generation\nconst payload = $input.item.json;\n\n// Collection config path (default or from payload)\nconst collectionConfig = payload.collection_config || 'configs/collections/all-docs.yaml';\nconst parallelWorkers = payload.parallel_workers || 4;\nconst invalidateCache = payload.invalidate_cache || false;\n\n// Metadata\nconst triggerSource = payload.trigger_source || 'manual';\nconst timestamp = new Date().toISOString();\n\nreturn {\n  collection_config: collectionConfig,\n  parallel_workers: parallelWorkers,\n  invalidate_cache: invalidateCache,\n  trigger_source: triggerSource,\n  timestamp: timestamp,\n  execution_id: `batch-${Date.now()}`\n};"
      },
      "id": "configure-batch",
      "name": "Configure Batch Execution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.invalidate_cache}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-cache-invalidation",
      "name": "Check Cache Invalidation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "docker",
        "arguments": "run --rm -v $(pwd):/workspace ghcr.io/liminalcommons/chora-compose:latest invalidate-cache --all"
      },
      "id": "invalidate-cache",
      "name": "Invalidate Cache",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-cache-branch",
      "name": "Merge Cache Branch",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "docker",
        "arguments": "=run --rm -v $(pwd):/workspace -e PARALLEL_WORKERS={{$json.parallel_workers}} ghcr.io/liminalcommons/chora-compose:latest generate collection --config /workspace/{{$json.collection_config}}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "execute-collection",
      "name": "Execute Collection Generation",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse collection generation output\nconst stdout = $input.item.json.stdout;\nconst stderr = $input.item.json.stderr;\nconst exitCode = $input.item.json.exitCode;\n\n// Extract statistics from stdout\nconst statsRegex = /Generated (\\d+)\\/(\\d+) items \\(([\\d.]+)% success\\)/;\nconst statsMatch = stdout.match(statsRegex);\n\nconst timeRegex = /Total time: ([\\d.]+)s/;\nconst timeMatch = stdout.match(timeRegex);\n\nconst cacheRegex = /Cache hits: (\\d+), misses: (\\d+) \\(([\\d.]+)% hit rate\\)/;\nconst cacheMatch = stdout.match(cacheRegex);\n\nif (!statsMatch) {\n  throw new Error('Could not parse collection generation statistics');\n}\n\nreturn {\n  execution_id: $input.item.json.execution_id,\n  success: exitCode === 0,\n  exit_code: exitCode,\n  items_generated: parseInt(statsMatch[1]),\n  items_total: parseInt(statsMatch[2]),\n  success_rate: parseFloat(statsMatch[3]),\n  total_time_seconds: timeMatch ? parseFloat(timeMatch[1]) : null,\n  cache_hits: cacheMatch ? parseInt(cacheMatch[1]) : null,\n  cache_misses: cacheMatch ? parseInt(cacheMatch[2]) : null,\n  cache_hit_rate: cacheMatch ? parseFloat(cacheMatch[3]) : null,\n  stdout: stdout,\n  stderr: stderr,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "parse-results",
      "name": "Parse Collection Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Generation Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "find",
        "arguments": "output/docs -type f -name '*.md' -mmin -10"
      },
      "id": "list-generated-files",
      "name": "List Generated Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "jsCode": "// Convert file list to array\nconst stdout = $input.item.json.stdout;\nconst files = stdout.split('\\n').filter(f => f.trim().length > 0);\n\nreturn {\n  generated_files: files,\n  file_count: files.length,\n  execution_id: $input.item.json.execution_id,\n  timestamp: $input.item.json.timestamp\n};"
      },
      "id": "format-file-list",
      "name": "Format File List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "issue",
        "repository": "={{$json.repository}}",
        "owner": "={{$json.owner}}",
        "title": "=Documentation Batch Generation Complete - {{$node['Parse Collection Results'].json.execution_id}}",
        "body": "=## Batch Documentation Generation Summary\n\n**Execution ID**: `{{$node['Parse Collection Results'].json.execution_id}}`\n**Timestamp**: {{$node['Parse Collection Results'].json.timestamp}}\n\n### Statistics\n- **Items Generated**: {{$node['Parse Collection Results'].json.items_generated}}/{{$node['Parse Collection Results'].json.items_total}} ({{$node['Parse Collection Results'].json.success_rate}}% success)\n- **Total Time**: {{$node['Parse Collection Results'].json.total_time_seconds}}s\n- **Cache Hit Rate**: {{$node['Parse Collection Results'].json.cache_hit_rate}}% ({{$node['Parse Collection Results'].json.cache_hits}} hits, {{$node['Parse Collection Results'].json.cache_misses}} misses)\n\n### Generated Files ({{$json.file_count}})\n```\n{{$json.generated_files.join('\\n')}}\n```\n\n### Next Steps\n- [ ] Review generated documentation for accuracy\n- [ ] Update any outdated content sources\n- [ ] Deploy documentation to production\n\n---\n*Generated by chora-compose n8n workflow*",
        "labels": ["documentation", "automated"]
      },
      "id": "create-github-issue",
      "name": "Create GitHub Summary Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2250, 200],
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.slack.com/api/chat.postMessage",
        "options": {},
        "bodyParametersJson": "={\n  \"channel\": \"#documentation\",\n  \"text\": \":white_check_mark: Batch documentation generation complete!\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"Documentation Batch Generation Complete\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Execution ID:*\\n`{{$node['Parse Collection Results'].json.execution_id}}`\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Items Generated:*\\n{{$node['Parse Collection Results'].json.items_generated}}/{{$node['Parse Collection Results'].json.items_total}}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Success Rate:*\\n{{$node['Parse Collection Results'].json.success_rate}}%\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Cache Hit Rate:*\\n{{$node['Parse Collection Results'].json.cache_hit_rate}}%\"\n        }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Total time: {{$node['Parse Collection Results'].json.total_time_seconds}}s | Files: {{$node['Format File List'].json.file_count}}\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "notify-slack-success",
      "name": "Notify Slack (Success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2450, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.slack.com/api/chat.postMessage",
        "options": {},
        "bodyParametersJson": "={\n  \"channel\": \"#alerts\",\n  \"text\": \":x: Batch documentation generation failed!\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"Documentation Generation Failed\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Execution ID:*\\n`{{$node['Parse Collection Results'].json.execution_id}}`\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Exit Code:*\\n{{$node['Parse Collection Results'].json.exit_code}}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Error Output:*\\n```{{$node['Parse Collection Results'].json.stderr}}```\"\n      }\n    }\n  ]\n}"
      },
      "id": "notify-slack-failure",
      "name": "Notify Slack (Failure)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1850, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"execution_id\": \"{{$node['Parse Collection Results'].json.execution_id}}\",\n  \"items_generated\": {{$node['Parse Collection Results'].json.items_generated}},\n  \"items_total\": {{$node['Parse Collection Results'].json.items_total}},\n  \"success_rate\": {{$node['Parse Collection Results'].json.success_rate}},\n  \"total_time_seconds\": {{$node['Parse Collection Results'].json.total_time_seconds}},\n  \"cache_hit_rate\": {{$node['Parse Collection Results'].json.cache_hit_rate}},\n  \"files_generated\": {{$node['Format File List'].json.file_count}},\n  \"timestamp\": \"{{$node['Parse Collection Results'].json.timestamp}}\"\n}"
      },
      "id": "respond-webhook-success",
      "name": "Respond Webhook (Success)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"execution_id\": \"{{$node['Parse Collection Results'].json.execution_id}}\",\n  \"exit_code\": {{$node['Parse Collection Results'].json.exit_code}},\n  \"error_message\": \"Collection generation failed\",\n  \"stderr\": \"{{$node['Parse Collection Results'].json.stderr}}\",\n  \"timestamp\": \"{{$node['Parse Collection Results'].json.timestamp}}\"\n}",
        "responseCode": 500
      },
      "id": "respond-webhook-failure",
      "name": "Respond Webhook (Failure)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 400]
    }
  ],
  "connections": {
    "Manual Trigger or Webhook": {
      "main": [
        [
          {
            "node": "Configure Batch Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Batch Execution": {
      "main": [
        [
          {
            "node": "Check Cache Invalidation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache Invalidation": {
      "main": [
        [
          {
            "node": "Invalidate Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Cache Branch",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Invalidate Cache": {
      "main": [
        [
          {
            "node": "Merge Cache Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Cache Branch": {
      "main": [
        [
          {
            "node": "Execute Collection Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Collection Generation": {
      "main": [
        [
          {
            "node": "Parse Collection Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Collection Results": {
      "main": [
        [
          {
            "node": "Check Generation Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Generation Success": {
      "main": [
        [
          {
            "node": "List Generated Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Slack (Failure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Generated Files": {
      "main": [
        [
          {
            "node": "Format File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format File List": {
      "main": [
        [
          {
            "node": "Create GitHub Summary Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Summary Issue": {
      "main": [
        [
          {
            "node": "Notify Slack (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack (Success)": {
      "main": [
        [
          {
            "node": "Respond Webhook (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack (Failure)": {
      "main": [
        [
          {
            "node": "Respond Webhook (Failure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "chora-compose",
      "createdAt": "2025-11-04T12:00:00.000Z",
      "updatedAt": "2025-11-04T12:00:00.000Z",
      "id": "1"
    },
    {
      "name": "batch",
      "createdAt": "2025-11-04T12:00:00.000Z",
      "updatedAt": "2025-11-04T12:00:00.000Z",
      "id": "5"
    },
    {
      "name": "collection",
      "createdAt": "2025-11-04T12:00:00.000Z",
      "updatedAt": "2025-11-04T12:00:00.000Z",
      "id": "6"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T12:00:00.000Z",
  "versionId": "1"
}
